* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-image: url('https://drive.google.com/file/d/1zaqeZ1JphEBxoHv3GLWdf5fXun8tSCTc/view');
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 53px 100px;
}

main {
  padding: 1rem;
}
